<div class="pating_table">
    <table *ngIf="powers_list"  class="mat-elevation-z8">
        <thead>
            <th >Nome</th>
        </thead>
        <tr *ngFor="let item of powers_list">
            <td>{{item.name}}</td>
            <td>
                <button  style="margin-right: 15px;" mat-flat-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button  mat-flat-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>             
            </td>
        </tr>
    </table>
</div>
