<mat-toolbar class="title-center">
    <span class="font-toolbar">
        {{title}}
    </span>
</mat-toolbar>
<mat-grid-list cols="6" rowHeight="1:3">
    <mat-grid-tile colspan="1" class="menu-grid">
        <mat-list role="list">
            <mat-list-item>
                <a href="">Home</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="goToCharacter()" >Personagens</a>
            </mat-list-item>
            <mat-list-item>
                <a href="#">Poderes</a>
            </mat-list-item>
            <mat-list-item>
                <a href="#">Raças</a>
            </mat-list-item>
            <mat-list-item>
                <a href="#">Equipamentos</a>
            </mat-list-item>
            <mat-list-item>
                <a href="#">Batalha</a>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <router-outlet></router-outlet>
    </mat-grid-tile>
</mat-grid-list>