<mat-toolbar class="title-center">
    <span class="font-toolbar">
        {{title}}
    </span>
</mat-toolbar>
<div class="row" style="height: 91%;">
    <div class="col-md-2 menu">
        <button (click)="goToHome()">Home</button>
        <button (click)="goToCharacter()">Personagens</button>
        <button (click)="goToPower()">Poderes</button>
        <button href="#">Raças</button>
        <button href="#">Equipamentos</button>
        <button href="#">Batalha</button>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
