.title-center{
    background-color: #ededed;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.font-toolbar{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    height: 50px;
}

.menu{
    background-color: #ededed;
}

button {
    display: block;
    width: 160px;
    height: 50px;
    padding: 10px 5px;
    background-color: #e45514;
    color: #dddddd;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 20px;
    margin-left: 5%;
}

button:hover {
    width: 200px;
    height: 60px;
    background-color: #dddddd;
    color: #e45514;
    border-radius: 5px;
    margin-left: 5%;
}
