<mat-toolbar class="title-center">
    <span class="font-toolbar">
        Home
    </span>
</mat-toolbar>
<mat-grid-list cols="6" rowHeight="1:3">
    <mat-grid-tile colspan="1" class="menu-grid">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <a href="">Home</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                 <a href="#">Personagens</a>
                </mat-list-item>
            <mat-list-item role="listitem">
                 <a href="#">Poderes</a>
                </mat-list-item>
            <mat-list-item role="listitem">
                 <a href="#">Raças</a>
                </mat-list-item>
            <mat-list-item role="listitem">
                 <a href="#">Equipamentos</a>
                </mat-list-item>
            <mat-list-item role="listitem">
                 <a href="#">Batalha</a>
                </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <p>
            aqui colocarei o SPA
        </p>
    </mat-grid-tile>
</mat-grid-list>