<mat-toolbar class="title-center">
    <span class="font-toolbar">
        Home
    </span>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile colspan="1" style="background-color: #f5f5f5;">
        <mat-list role="list">
            <mat-list-item role="listitem">Home</mat-list-item>
            <mat-list-item role="listitem">Personagens</mat-list-item>
            <mat-list-item role="listitem">Poderes</mat-list-item>
            <mat-list-item role="listitem">Raças</mat-list-item>
            <mat-list-item role="listitem">Equipamentos</mat-list-item>
            <mat-list-item role="listitem">Batalha</mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <p>
            aqui colocarei o SPA
        </p>
    </mat-grid-tile>
</mat-grid-list>