.title-center{
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.font-toolbar{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    height: 50px;
}

.menu-grid{
    background-color: #f5f5f5;
}

mat-list{
    position: absolute;
    top: 20px;
    left: 20px;
}

mat-list-item{
    max-height: 25px;
}